*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #21212121;
}

h1{
    color: yellowgreen;
}
.trilho{
    width: 350px;
    height: 150px;
    background-color: #4d4d4d;
}